.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .mainBox {
    width: 100%;
    flex: 1;
    overflow: scroll;
    background: #fff;
    margin: 0;
  }

  .footerBox {
    width: 100%;
    height: 1rem;
    border-top:.02rem solid #eee;
    background: #fff;
    display: flex;
    justify-content: space-around; 
   
    dl{
      height:1rem;
      text-align: center;
        a{
          color:#000;
        }
      }
    .active {
      color: red;
    }
  }
}
