.loginBox {
  width: 100%;
  height: 100%;
  background:rgba(200,170,100,.5);

  
}
.login-form{
  width:100%;
  box-sizing: border-box;
  padding: 0 .3rem;
  input {
   outline: none;
    height: 1rem;
    border: 0;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
  }
  .ant-btn {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
  }
}
.loginBox_logo {
  width: 100%;
  text-align: center;
  padding-top: 2.13rem;
  padding-bottom: 3.09rem;

  img {
    width: 3.57rem;
    height: 1.2rem;
  }
}
